# .env
TOKEN='TOKENID'
API_KEY='API_KEY'
BASE_ID='BASE_ID'
CHANNEL_TABLE_NAME = 'CHANNEL_TABLE_NAME' // allowed channels which receive grants
GRANT_TABLE_NAME = 'GRANT_TABLE_NAME' // Grant Table
SUPER_ADMIN_USER_ID = 'SUPER_ADMIN_USER_ID'
SUPER_ADMIN_USER_NAME = 'SUPER_ADMIN_USER_NAME'
GRANT_BOT_USER_ID = 'GRANT_BOT_USER_ID'
UNDECIDED_VIEW = 'UNDECIDED_VIEW'